PORT=Port number of the server. (optional)
PROXY=Proxies for requests (optional) (e.g. ["https://proxy1.com", "https://proxy2.com"])
REDIS_HOST=Redis host (optional)
REDIS_PORT=Redis port (optional)
REDIS_TTL=Redis cache timeout (seconds) (optional)
REDIS_PASSWORD=Redis password (optional)
TMDB_KEY=TMDB access token auth (optional)
NODE_ENV=Environment (optional) (DEMO or PROD)
