PORT=Port number of the server. (optional)
ACCESS_TOKEN=Crunchyroll token (optional)
BILIBILI_COOKIE=Cookie for Bilibili (optional)
PROXIES=Proxies for requests (optional) (e.g. ["https://proxy1.com", "https://proxy2.com"])