name: Deploy to Pi (Production)

on:
  workflow_run:
    workflows: ["Node.js CI"]
    types:
      - completed
    branches: [master, main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4.0.2
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: |
          yarn install
          yarn upgrade

      - name: Build API
        run: yarn build

      - name: Restart PM2 process
        run: |
          if pm2 describe consumet-api > /dev/null 2>&1; then
            pm2 restart consumet-api
          else
            pm2 start ecosystem.config.js
            pm2 save
          fi

      - name: Check PM2 status
        run: pm2 status
